In [1]:
import numpy as np
import pandas as pd

data_karyawan = pd.read_csv("kry.csv")
data_karyawan

  ;NIP;NAMA;UMUR;MASA KERJA;GAJI
0            0;ID01;LIA;30;6;750
1         1;ID02;IWAN;48;17;1500
2         2;ID03;SARI;36;14;1255
3          3;ID04;ANDI;37;4;1040
4          4;ID05;BUDI;42;12;950
5         5;ID06;AMIR;39;13;1600
6          6;ID07;RIAN;37;5;1250
7            7;ID08;KIKI;32;1;55
8           8;ID09;ALDA;35;3;753
9           9;ID10;YOGA;25;2;860